/* Body styling */

body {
  margin: 0px;
  padding: 0px;
  font-family: Inter, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #171A20;
}

ul {
  list-style-type: none;
}

.active {
  font-weight: bold;
}

/* Buttons */

.cta-blue {
  padding: 4px 8px;
  background-color: #2558A4;
  color: #FFF;
}

/* Header */

.upper-nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 6px 0px;
  background: #2B5593;
  min-width: 600px;
}

.upper-nav-bar input {
  margin-left: 10%;
  padding: 6px;
  background: #638D9F;
  border: none;
}

.upper-nav-bar ::placeholder {
  color: #000;
  opacity: 0.5;
}

.left-top-nav {
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.left-top-nav a {
  color: #FFF;
  font-size: 0.8em;
  padding-right: 2em;
  opacity: 0.8;
}

header {
  position: relative;
  margin-bottom: 50px;
}

nav {
  background: #FFF;
  width: 100%;
  min-width: 400;
  z-index: 1000;
}

nav li {
  padding: 10px 5px;
}

nav a {
  font-weight: 500;
  color: #171A20;
}

nav,
.fa-bars {
  position: absolute;
}

nav,
#hamburger-menu,
.upper-nav-bar {
  display: none;
}

.fa-bars {
  top: 30px;
  left: 10%;
  font-size: 1.5em; 
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.logo-picture {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

/* Index page */

.front-page-tiles,
.index-image,
.front-page-tile-4,
.front-page-address-tile,
.newsletter {
  height: auto;
}

.front-page-tiles,
.front-page-tile-4,
.front-page-address-tile,
.newsletter,
.newsletter p {
  margin: 0 auto;
}

.front-page-tiles,
.front-page-address-tile,
.newsletter {
  width: 90%;
}

.front-page-tiles,
.front-page-tile-4,
.front-page-address-tile,
.newsletter {
  text-align: center;
}

.front-page-tiles h1,
.front-page-tiles h2,
.front-page-tiles h3,
.newsletter .cta-blue {
  margin: 10px auto;
}

.front-page-tiles h1,
.front-page-tiles h2,
.front-page-tiles h3 {
  padding: 20px 10px;
  color: #171A20;
  max-width: 315px;
  line-height: 2em;
  font-family: Barlow, Verdana, sans-serif;
}

.front-page-tiles h1,
.front-page-tiles h2,
.front-page-tiles h3,
.front-page-address-tile h4,
.newsletter h5 {
  font-size: 0.8em;
}

.index-image,
.front-page-address-tile,
.newsletter {
  max-width: 335px;
}

.front-page-tiles h1 {
  background: #FD7F66;
}

.index-image {
  width: 100%;
}

.front-page-tiles h3 {
  background: #C6AB8F;
}

.front-page-tile-4 {
  width: 90vw;
  padding: 0px;
}

.front-page-tile-4 .exhibition-desktop-img {
  display: none;
}

.front-page-address-tile,
.newsletter {
  padding-bottom: 20px;
}

.front-page-address-tile,
.newsletter,
.front-page-tiles h2 {
  background: #EDEDED;
}

.newsletter {
  margin-bottom: 20px;
}

.front-page-address-tile h4, .newsletter h5 {
  padding-top: 1em;
}

.newsletter p {
  width: 80%;
  line-height: 1.5em;
  padding-bottom: 10px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-form input {
  width: 70%;
  margin: 5px auto;
  padding: 5px;
}

.newsletter .cta-blue {
  display: block;
  width: 100px;
}

/* Visit page */

.visit-map-image {
  text-align: center;
}

.map-image, .visit-photo {
  height: auto;
  width: 100%;
  max-width: 1100px;
}

.visit-info-1 h1, h2 {
  text-align: left;
}

.visit-info-1 h1 {
  font-size: 1em;
  font-weight: lighter;
}

.visit-info-1 h2,
.visit-info-1 h3,
.visit-info-1 h4,
.visit-page h6,
.visit-info-1 p,
.visit-info-2 p {
  font-size: 0.8em;
  padding: 0px;
}

.visit-info-1 h2,
.visit-info-1 h3,
.visit-info-1 h4,
.visit-page h6 {
  margin: 0px;
}

.visit-info-1 p,
.visit-info-2 p {
  line-height: 170%;
}

.visit-page {
  width: 90%;
  margin: 0 auto;
  max-width: 1100px;
}

.visit-photo {
  padding: 20px 0px;
}

/* Explore page */

.explore-page,
.explore-photo,
.explore-photo img,
.explore-kids,
.explore-teachers,
.explore-researchers,
.explore-kids-text,
.explore-researchers-text,
.explore-teachers-text {
  margin: 0 auto;
}

.explore-kids-text,
.explore-researchers-text,
.explore-teachers-text,
.explore-page h1,
.explore-page h2,
.explore-page h3 {
  text-align: left;
}

.explore-photo img,
.explore-kids,
.explore-teachers,
.explore-researchers {
  max-width: 1100px;
}

.explore-photo img,
.explore-kids-text,
.explore-researchers-text,
.explore-teachers-text {
  height: auto; 
  width: 100%;
}

.explore-page {
  width: 90%;
}

.explore-photo {
  text-align: center;
}

.explore-kids-text,
.explore-researchers-text,
.explore-teachers-text
 {
  color: #FFF;
  font-size: 0.8em;
  line-height: 170%;
}

.explore-kids-text {
  background: #93613C;
}

.explore-page p {
  padding: 1em;
}

.explore-teachers-text {
  background: #407651;
}

.explore-researchers-text {
  background: #1B2331;
}

.explore-page h1,
.explore-page h2,
.explore-page h3 {
  font-size: 1.2em;
  margin: 25px 0px;
  padding: 0px;
  font-weight: semi-bold;
  font-family: Barlow, Verdana, sans-serif;
}

/* Exhibitions page */


.exhibitions p,
.exhibitions h2,
.exhibitions h3,
.exhibitions h4,
.exhibitions h5,
.exhibitions h6 {
  text-align: left;
}

.exhibitions h2,
.exhibitions h3,
.exhibitions h4,
.exhibitions h5,
.exhibitions h6,
.exhibitions-photo img {
  max-width: 800px;
}

.exhibitions h1,
.exhibition-tile {
  text-align: center;
}

.exhibitions {
  max-width: 1100px;
  margin: 0 auto;
  width: 90%;
}

.exhibitions p {
  font-size: 0.8em;
}

.exhibitions h1 {
  font-size: 1.4em;
}

.exhibitions h2,
.exhibitions h3,
.exhibitions h4,
.exhibitions h5,
.exhibitions h6,
.exhibition-text-cosmology,
.exhibition-text-evolution,
.exhibition-text-biology,
.exhibition-text-robotics,
.exhibition-text-ecology {
  margin: 10px auto;
}

.exhibitions h2,
.exhibitions h3,
.exhibitions h4,
.exhibitions h5,
.exhibitions h6 {
  padding: 0px;
  font-size: 1em;
}

.exhibitions-photo img,
.exhibition-text {
  height: auto;
  width: 100%;
}

.exhibition-text-cosmology {
  background: #1B2331;
}

.exhibition-text-evolution {
  background: #324C75;
}

.exhibition-text-biology {
  background: #42311C;
}

.exhibition-text-robotics {
  background: #0F0C0B;
}

.exhibition-text-ecology {
  background: #010010;
}

.exhibition-text-cosmology,
.exhibition-text-evolution,
.exhibition-text-biology,
.exhibition-text-robotics,
.exhibition-text-ecology {
  color: #FFF;
  padding: 10px;
  max-width: 780px;
}

/*Events page */

.events-page {
  width: 90%;
}

.events-page,
.event-image img {
  height: auto;
}

.events-page,
.events-text-part {
  margin: 0 auto;
}


.events-page h1,
.event-image {
  text-align: center;
}

.events-page h1 {
  font-size: 1.4em;
}

.events-page h2,
.events-page h3,
.events-page h4,
.events-page p {
  padding: 5px;
}

.events-page h2,
.events-page h3,
.events-page h4 {
  margin: 30px 0px 0px 0px;
  font-size: 1.2em;
}

.events-page p {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0.5mm solid white;
}

.events-page h2,
.events-page h3,
.events-page h4,
.events-page p {
  background: #EDEDED;
}

.event-image img {
  width: 100%;
}

.event-image img,
.events-text-part {
  max-width: 800px;
}

/* Footer */

.gray-footer {
  width: 90%;
  max-width: 1100px;
  background-color: #EDEDED;
  margin: auto;
  padding-bottom: 10px;
}

footer h6 {
  font-size: 0.8em;
  padding: 10px 0px 0px 20px;
  margin: 10px 0px 5px 0px;
}

footer li {
  font-size: 0.6em;
  padding: 3px;
}

footer ul {
  padding-left: 20px;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #2B5593;
  color: #FFF;
  padding: 5px 0px;
}

.footer-bar p {
  padding-right: 5%;
  font-size: 0.7em;
}

.socials {
  margin-left: 5%;
}

.socials i {
  padding: 5px;
  font-size: 1em;
}

/* Media queries */

@media (min-width: 800px) {
  .upper-nav-bar {
    display: flex;
  }

  header .fa-bars {
    display: none;
  }

  .main-nav-bar {
    display: flex;
    margin: 10px 10%;
  }

  .logo-picture {
    text-align: left;
    padding-left: 10%;
  }

  nav {
    display: block;
    position: static;
    text-align: right;
  }

  nav li {
    display: inline-block;
  }

  nav ul {
    position: absolute;
    right: 10%;
    top: 50px;
  }

  #search-main {
    display: none;
  }

  .gray-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }

  .visit-text-columns {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
  
  .footer-bar p {
    font-size: 0.8em;
  }

}

@media (min-width: 1000px) {
  .exhibitions h2,
  .exhibitions h3,
  .exhibitions h4,
  .exhibitions h5,
  .exhibitions h6 {
    margin: 0px;
    padding: 10px 0px 10px 5px;
    font-weight: lighter;
    color: #FFF;

  }

  .exhibitions-photo img {
    max-width: 600px;
    min-width: 300px;
  }

  .exhibition-tile {
    display: flex;
    align-items: center;
  }

  .exhibitions p {
    font-size: 1em;
  }

  .exhibitions-cosmology,
  .exhibitions-cosmology,
  .exhibitions-evolution,
  .exhibitions-biology,
  .exhibitions-robotics,
  .exhibitions-ecology {
    padding: 15px;
    margin: 20px 0px;
  }

  .exhibitions-cosmology {
    background: #1B2331;
  }
  
  .exhibitions-evolution {
    background: #324C75;
  }

  .exhibitions-biology {
    background: #42311C;
  }

  .exhibitions-robotics {
    background: #0F0C0B;
  }

  .exhibitions-ecology {
    background: #010010;
  }

  .event-block {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1100px;
    margin: 30px auto;
  }

  .event-image {
    max-width: 200px;
  }

  .events-text-part {
    background: #EDEDED;
    margin-left: 0px;
    padding-left: 20px;
    max-width: 1000px;
  }

  .events-page h2,
  .events-page h3,
  .events-page h4 {
    margin-top: 10px;
  }

}

@media (min-width: 1100px) {
  .front-page-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    height: auto;
    max-width: 1100px;
    padding: 0px;
  }

  .front-page-tile-1 h1 {
    height: 100px;
  }

  .front-page-tile-4 {
    max-width: 1100px;
    margin: 0 auto;
  }

  .front-page-tile-4 img {
    height: auto; 
    width: 97%;
  }

  .front-page-tile-4 .exhibition-mobile-img {
    display: none;
  }

  .front-page-tile-4 .exhibition-desktop-img {
    display: inline;
  }

  .lower-index-tiles {
    max-width: 1125px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .front-page-address-tile {
    grid-column: 1;
  }

  .newsletter {
    grid-column: 2/4;
    max-width: 100%;
    margin: 0px;
    padding-right: 50px;
  }

  footer ul {
    font-size: 1.2em;
  }

}